<h1>Listing users</h1>

<% for user in @users %>
<div>
  <div class="right">
    <%= get_gravatar(user) %>
  </div>
  <% link_to edit_user_path(user) do %>
    <h3 class="username"><%= user.firstname%>, <%= user.surname %></h3>
  <% end %>
</div>
<table>
  <tr><td>Position: </td><td><%= user.position %></td></tr>
  <tr><td>Joined Reevoo on: </td><td><%= user.joined_on.strftime("%d %B %Y") %></td></tr>
  <tr><td>Position: </td><td><%= user.position %></td></tr>
  <tr><td colspan="2"><%= user.left_yet? %></td></tr>
</table>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
