<h1>Listing softwares</h1>

<table class="stufflist">
  <tr>
    <th>Name</th>
    <th>Serial</th>
    <th>Date purchased</th>
    <th>Hardware</th>
    <th colspan="4"></th>
  </tr>

<% for software in @softwares %>
  <tr>
    <td><%=h software.name %></td>
    <td><%=h software.serial %></td>
    <td><%=h software.date_purchased %></td>
    <td><%=h software.hardware_id %></td>
    <td><%= link_to 'Edit', edit_software_path(software) %></td>
    <td><%= link_to 'Destroy', software, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New software', new_software_path %>
