<p>
  <b>Name:</b>
  <%=h @software.name %>
</p>

<p>
  <b>Serial:</b>
  <%=h @software.serial %>
</p>

<p>
  <b>Date purchased:</b>
  <%=h @software.date_purchased %>
</p>

<p>
  <b>Hardware:</b>
  <%=h @software.hardware_id %>
</p>


<%= link_to 'Edit', edit_software_path(@software) %> |
<%= link_to 'Back', softwares_path %>
