<h1>New user</h1>

<% form_for(@hardware_type) do |f| %>
  <%= f.error_messages %>

<table>
  <tr>
    <td><%= f.label :manufacturer %></td>
    <td><%= f.text_field :manufacturer %></td>
  </tr>
  <tr>
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.label :model_number %></td>
    <td><%= f.text_field :model_number %></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.submit "Create" %></td>
  </tr>
</table>
<% end %>

<%= link_to 'Back', hardwares_path %>