<h1>Editing hardware</h1>

<% form_for(@hardware) do |f| %>
  <%= f.error_messages %>

<table>
  <tr>
    <td><%= f.label :serial_number %></td>
    <td><%= f.text_field :serial_number %></td>
  </tr>
  <tr>
    <td><%= f.label :date_purchased %></td>
    <td><%= f.unobtrusive_date_text_picker :date_purchased %></td>
  </tr>
  <tr>
    <td> <%= f.label :user_id %></td>
    <td><%= select "hardware", "user_id", User.find(:all).collect{|u| ["#{u.surname}, #{u.firstname}", u.id ]} %></td>
  </tr>
  <tr>
    <td><%= f.label :hardware_type_id %></td>
    <td><%= select "hardware", "hardware_type_id", HardwareType.find(:all).collect { |t| ["#{t.name}:  #{t.model_number} [#{t.manufacturer}]", t.id]} %> <%= link_to 'New Hardware Type', :controller => 'hardware_types' , :action => 'new' %></td>
  </tr>
  <tr>
    <td colspan="2">
      <%= f.submit "Update" %>
    </td>
  </tr>
  </table>

  <h4>Installed Software</h4>
  <ul>
  <% for software in @hardware.software do %>
      <li><%= software.name %></li>
  <% end %>
  </ul>
  
  <h4>Available Software</h4>
    <% for software in Software.find(:all, :conditions => "hardware_id is null") %>
      <li><%= software.name%></li>
    <% end %>
  <ul>

  </ul>
</table>
<% end %>

<%= link_to 'Show', @hardware %> |
<%= link_to 'Back', hardwares_path %> |