<h1>New hardware</h1>

<% form_for(@hardware) do |f| %>
  <%= f.error_messages %>

<table>
  <tr>
    <td><%= f.label :serial_number %></td>
    <td><%= f.text_field :serial_number %></td>
  </tr>
  <tr>
    <td><%= f.label :date_purchased %></td>
    <td><%= f.unobtrusive_date_text_picker :date_purchased %></td>
  </tr>
  <tr>
    <td> <%= f.label :user_id %></td>
    <td><%= select "hardware", "user_id", User.find(:all).collect{|u| ["#{u.surname}, #{u.firstname}", u.id ]} %></td>
  </tr>
  <tr>
    <td><%= f.label :hardware_type_id %></td>
    <td><%= select "hardware", "hardware_type_id", HardwareType.find(:all).collect { |t| ["#{t.name}:  #{t.model_number} [#{t.manufacturer}]", t.id]} %> <%= link_to 'New Hardware Type', :controller => 'hardware_types' , :action => 'new' %></td>
  </tr>
  <tr>
    <td colspan="2">
      <%= f.submit "Create" %>
    </td>
</table>

<% end %>

<%= link_to 'Back', hardwares_path %>
