<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Hardwares: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'default' %>
  <%= stylesheet_link_tag 'default_layout' %>
</head>
<body>
  
  <div id="top-menu">
    <ul>
      <li><%= link_to "Hardware", :controller => "hardwares", :action => "index" %><br /></li>
      <li><%= link_to "Software", :controller => "softwares", :action => "index" %><br /></li>
      <li><%= link_to "Users", :controller => "users", :action => "index" %></li>
    </ul>
  </div>
  
  <div id="header">
    <h1><img id="headerlogo" src="images/my_computer_lite.png" />
    <a href="/">Asset Tracker</a></h1>
  </div>
  
  <div id="content">
    <p style="color: green"><%= flash[:notice] %></p>
    <%= yield  %>
  </div>

</body>
</html>
